.cfff{
    color:#FFF;
}
.cred{
    color:#FF4242;
}
.cgreen{
    color:#03c56c;
}
.center{
    top:0;
    bottom:0;
    background:#000;
}
.betBtn{
    margin:0 auto;
    bottom:27%;
    color:#FFF004;
}
.bgLight{
    height:80%;
    left:2%;
}
.bet_header{
    display: flex;
    justify-content: center;
}
.bet_header_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    margin-left:3px;
    height:77px;
    background:#0082c8;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    opacity:0.8;
}
.bet_center{
    margin-top:40px;
    opacity: 0.9;
}
.input_money_box{
    display: flex;
    justify-content: center;
    margin:0 50px;
    height:42px;
    line-height:42px;
}
.input_money_box p{
    min-width:40px;
}
.input_money{
    flex: 3;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.selected_box{
    display: flex;
    margin:30px 20px;
    justify-content: space-between;
    height:60px;
}
.selected_money{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background:#5e6ba1;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    opacity: 0.8;
}
.bet_footer{
    position:fixed;
    bottom:10px;
}
