.f5f5f5{
    background:#F5F5F5;
}
.fff{
    background:#FFF;
}
.cart_body{
    padding-bottom: 0.88rem;
    min-height:calc(100% - 47px);
    composes:f5f5f5;
    composes:po w from '../Util/base.css';
}
.cart_footer{
    position:fixed;
    bottom:0;
    height: 0.88rem;
    line-height: 0.88rem;
    background:#FFF;
    composes:f26 w from '../css/base_mobile.css';
}
.address_list{
    height: 0.88rem;
    line-height:0.88rem;
    border-bottom: 0.01rem solid #E3E3E3;
    background:#FFF;
    composes:pl24 f26 from '../css/base_mobile.css';
}
.order_def_address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:1.1rem;
    composes:fff;
    composes:pl24 from '../css/base_mobile.css';
}
.order_user_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order_user_n_m{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    composes:pr24 from '../css/base_mobile.css';
}
.order_user_address{
    display: flex;
    flex-direction: row;
}
.order_user_address_detail{
    composes:f24 pl30 from '../css/base_mobile.css';
}