.cfff{
    color:#FFF;
}
.dialog_big_box{
    position:fixed;
    top:0;
    composes: w h from '../css/base_mobile.css';
}
.dialog_mask{
    position:fixed;
    z-index: 9;
    background:#000;
    opacity: 0.3;
    composes: w h from '../css/base_mobile.css';
}
.dialog_body{
    position:fixed;
    margin:0 0.52rem;
    width:calc(100% - 1.04rem);
    top:35%;
    background:#FFF;
    opacity: 0.96;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    border-radius: 0.6rem;
    z-index: 10;
}
.dialog_header{
    line-height:25px;
    composes:tc f24 pt30 from '../css/base_mobile.css';
}
.dailog_content{
    composes:tc f24 pb20 from '../css/base_mobile.css';
}
.dialog_footer{
    display:flex;
    height: 0.88rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-top:1px solid #E3E3E3;
    overflow: hidden;
}
.dialog_btn_color{
    color:#4A63F1;
    composes:tc f24 from '../css/base_mobile.css';
}
.dialog_btn{
    flex:1;
    line-height: 0.88rem;
    border-right: 0.01rem solid #E3E3E3;
    margin-right: -0.02rem;
    composes: dialog_btn_color;
}
