.c000{
    color:#000;
}
.cfff{
    color:#FFF;
}
.cred{
    color:#FF4242;
}
.cblue{
    color:#4964ef;
}
.diamonds_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0.06rem 0 0.3rem;
    margin-top:0.1rem;
}
.diamond{
    height: 1.26rem;
    width:calc(33% - 0.27rem);
    margin: 0.3rem 0.24rem 0 0;
    background-size:cover;
    border:0.01rem solid #E3E3E3;
    min-height:1.26rem;
    background:url('/src/images/common_diamonds_package_bg_n@2x.png') no-repeat center;
    -webkit-background-size:cover;
    border-radius: 0.05rem;
}
.diamond_bg{
    border:0.01rem solid #E3E3E3;
    width:calc(33% - 17px);
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input_diamonds{
    outline: none;
    flex: 1;
    /*background:url('/xitenggame/xitengWapApp/src/images/buy-diamonds_img_n@2x.png') no-repeat center;*/
    background:url('/src/images/buy-diamonds_img_n@2x.png') no-repeat center;
    background-size:cover;
    -webkit-background-size:cover;
}
.diamond_count{
    padding-top: 0.65rem;
    composes:cblue;
    composes: tc pr from '../css/base_mobile.css';
}
.diamond_num{
    font-size:0.36rem;
}
.diamond_unit{
    font-size:0.26rem;
}
.price{
    line-height: 0.8rem;
    height:0.8rem;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.tag{
    padding:0.02rem 0.04rem;
    background:#FF4242;
    -webkit-border-radius:0.04rem;
    -moz-border-radius:0.04rem;
    border-radius:0.04rem;
}
.buy_btn{
    margin:0 auto ;
    width: 1.5rem;
    padding:0.02rem 0.12rem;
    -webkit-border-radius:0.32rem;
    -moz-border-radius:0.32rem;
    border-radius:0.32rem;
    border:0.01rem solid #FF4242;
}
.buy_diamonds_btn{
    margin:1.1rem 0.3rem;
    border-radius: 0.06rem;
    background:#4964EF;
    line-height:0.88rem;
    height:0.88rem;
    composes:tc from '../css/base_mobile.css';
}
.buy_diamonds_text{
    composes:cfff;
    composes:f32 from '../css/base_mobile.css';
}
.diamonds_selected{
    border:0.01rem solid #FF4242;
}
.buyDiaPage{
    height: 13.33rem;
    background: #F5F5F5;
    overflow: hidden;
}

.parities{
    font-size: 0.28rem;
    color: #777777;
    position: absolute;
    bottom: 0.8rem;
    composes: tc w from '../css/base_mobile.css';
}
.defAcount{
    margin:0.44rem 0.3rem 0;
    line-height:1.1rem;
    background:#fff;
    font-size:0.34rem;
    color:#333;
    display:flex;
    padding:0 0.3rem;
}
.defAcount_input{
    outline: none;
    flex: 1;
    font-size: 0.3rem;
    composes:tr pr10 from '../css/base_mobile.css';
}





