.entrance{
    margin-top:15px;
    border-top: 0.01rem solid #E3E3E3;
    background:#FFF;
    composes:f32 from '../css/base_mobile.css';
}
.entrance_list{
    height:0.88rem;
    border-bottom:0.01rem solid #E3E3E3;
    line-height:0.88rem;
}
.entrance_name{
    padding:0.24rem 0 0.24rem 0.9rem;
}