.fff{
    background:#FFF;
}
.main_footer{
    display: flex;
    flex-direction:row;/* 默认 row 横向排列 */
    justify-content:space-between;
    position: fixed;
    height: 0.9rem;
    padding-top: 0.15rem;
    bottom:0;
    z-index: 11;
    composes:fff;
    composes:w from '../css/base_mobile.css';
}
.footer_item{
    display: flex;
    flex:1;
    justify-content:center;
    composes:fl tc from '../css/base_mobile.css';
}
.footer_pic_box{
    display: flex;
    justify-content:center;
    flex-direction:column;
}
.footer_pic{
    height:0.46rem;
    width:0.46rem;
    margin-bottom:0.03rem;

}