.fff{
    background:#FFF;
}
.main_footer{
    display: flex;
    flex-direction:row;/* 默认 row 横向排列 */
    justify-content:space-between;
    position: fixed;
    height:50px;
    bottom:0;
    z-index: 11;
}
.footer_item{
    display: flex;
    flex:1;
    justify-content:center;
}

.footer_text{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.footer_icon{
    height:25px;
}