.cfff{
    color:#FFF;
}
.cred{
    color:#FF4242;
}
.f18{
    font-size:18px;
}
.game_item{
    margin:0 0.25rem 0.3rem;
    background: #1c242a;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
.stock_game_name_pic{
    width:1.47rem;
    padding-top:0.42rem;
}
.time_bg{
    /*background:url("/xitenggame/xitengWapApp/src/images/home_lg1@2x.png") no-repeat top center;*/
    /*background-size: cover;*/
    background:#2e343e;
}
.guess_next_stage_time{
    font-size: 0.28rem;
    padding-top:0.48rem;
}
.guess_next_stage{
    padding-right:0.46rem;
}
.common_bg{
    padding-top: 0.38rem;
    background:#2e343e;
}
.stockMarketPic{
    display:block;
    margin:0 auto;
    width:calc(100% - 100px);
}
.guessUpDown{
    margin:5px 20px;
    line-height:25px;
}
.xt_money{
    background:url('/xitenggame/xitengWapApp/src/images/icon_big@2x.png') no-repeat right center;
    -webkit-background-size:15px;
    background-size:15px;
}
.count_down_title{
    font-size:34px;
}
.count_down_icon{
    padding-left:0.4rem;
    background:url('/xitenggame/xitengWapApp/src/images/home_icon_time@2x.png') no-repeat left center;
    -webkit-background-size:0.28rem;
    background-size:0.28rem;
    font-size: 0.24rem;
}
.bet_user_box,
.rank_user_box{
    margin-top:-20px;
    padding:20px 15px 20px;
    -webkit-background-size:cover;
    background-size:cover;
}
.rank_user_box{
    margin-top:-10px;
}
.bet_user,
.rank_user{
    line-height: 35px;
}
.bet_user_header,
.rank_user_header{
    width:25px;
    height:25px;
    overflow: hidden;
    margin:5px;
}
.bet_user_name,
.rank_user_name{
    width:110px;
}
.bet_user_bet,
.rank_user_bet{
    padding-left:20px;
    background:url('/xitenggame/xitengWapApp/src/images/icon_big@2x.png') no-repeat left center;
    background-size: 15px;
}
.pk_title{
    background:url('/xitenggame/xitengWapApp/src/images/home_line@2x.png') no-repeat top center;
    -webkit-background-size:contain;
    background-size: contain;
    line-height:50px;
}
.pk_pic{
    width:calc(100% - 30px);
}
.pk_box{
    padding-bottom:50px;
    -webkit-background-size:contain;
    background-size:contain;
}
.prize_pic{
    display: block;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}