.cfff{
    color:#FFF;
}
.cblue{
    color:#0A89FE;
}
.login_logo{
    margin:0.1rem auto;
    width: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
    /*background:url("../../src/images/logo@2x.png") no-repeat center;*/
    -webkit-background-size:contain;
    background-size:contain;
    composes:tc from '../css/base_mobile.css';
}
.login_find_back{
    composes:tc mt10 from '../css/base_mobile.css';
}
.login_input{
    composes: ml15 mr30 f32 from '../css/base_mobile.css';
}
.login_input li{
    display: flex;
    flex-direction: row;
    border-bottom: 0.01rem solid #E3E3E3;
    line-height: 0.98rem;
}
.login_input_title{
    composes: pr60 from '../css/base_mobile.css';
}
.login_phone_num{
    flex: 1;
    outline:medium;
}
.login_password{
    flex: 1;
    outline:medium;
}
.J_phoneNum{
    composes: login_phone_num;
    composes: f32 from '../css/base_mobile.css';
}
.J_password{
    composes: login_password;
    composes: f32 from '../css/base_mobile.css';
}

.login_wx{
    position: fixed;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    composes:cblue;
    composes:f32 tc w from '../css/base_mobile.css';
}
.login_btn{
    margin: 0.6rem 0.3rem;
    border-radius: 0.06rem;
    background:#0A89FE;
    line-height:0.88rem;
    height:0.88rem;
    composes: cfff;
    composes: tc f26 from '../css/base_mobile.css';
}
.login_wx_btn{
    background:url("../../src/images/icon_weixin-@2x.png") no-repeat top center;
    -webkit-background-size:1.1rem;
    background-size:1.1rem;
    padding-top: 1.2rem;
}