.f5f5f5{
    background:#F5F5F5;
}
.cfff{
    color:#FFF;
}
.c000{
color:#000;
}
.fff{
    background:#FFF;
}
.cred{
    color:#FF4242;
}
.pay_head{
    composes:f5f5f5;
    composes:po w h from '../css/base_mobile.css';
}
.product_info{
    border-top: 0.01rem solid #E3E3E3;
    border-bottom:0.01rem solid #E3E3E3;
}
.product_pic{
    margin:0.2rem 0.3rem;
    width:0.6rem;
    height:0.5rem;
    overflow: hidden;
}
.payWay_pic{
    margin:0.3rem;
    width: 0.68rem;
    height:0.68rem;
    composes:fl from '../css/base_mobile.css';
}
.payWay_title{
    height:0.8rem;
    line-height:0.8rem;
    border-top:0.01rem solid #E3E3E3;
    composes:c000;
    composes:pl24 f32 from '../css/base_mobile.css';
}
.product_name{
    margin-top: -0.1rem;
}
.product_info{
    border-top:0.01rem solid #E3E3E3;
    border-bottom:0.01rem solid #E3E3E3;
    padding-bottom: 0.1rem;
    composes:fff;
    composes: clearfix tc from '../css/base_mobile.css';
}
.payWay_box{
    border-top:0.01rem solid #E3E3E3;
}
.payWay_box li{
    border-bottom:0.01rem solid #E3E3E3;
}
.selected{
    background:#FFF url("../../src/images/btn_choose_s@2x.png") no-repeat 95% center;
    -webkit-background-size: 0.4rem;
    background-size: 0.4rem;
    composes:pr clearfix from '../css/base_mobile.css';
}
.pay_btn{
    margin:0.8rem 0.3rem;
    border-radius: 0.06rem;
    background:#0A89FE;
    line-height:0.88rem;
    height:0.88rem;
    composes: cfff;
    composes: tc f32 from '../css/base_mobile.css';
}

.realPay{
    line-height: 0.8rem;
    margin-right: 0.3rem;
    composes:cred;
    composes:fr from '../css/base_mobile.css';
}
.payWay_way{
    composes: c000;
    composes: f24 pt24 from '../css/base_mobile.css';
}