.f5f5f5{
    background:#F5F5F5;
}
.cfff{
    color:#FFF;
}
.c000{
    color:#000;
}
.cred{
    color:#FF4242;
    composes: fl f16 from '../Util/base.css';
}
.red_XT_icon{
    background:url("../../src/images/icon_maddle_red@2x.png") no-repeat left center;
    -webkit-background-size:0.16rem 0.18rem;
    background-size:0.16rem 0.18rem;
}
.detail_product_info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-top:1px solid #E2E2E2;
    height:95px;
    background:#FFF;
    composes: pl15 from '../Util/base.css';
}
.detail_product_info_name{
    composes: f32 from '../css/base_mobile.css';
}
.detail_product_inventory{
    composes:fr pr24 f24 from '../css/base_mobile.css';
}
.detail_product_title{
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.32rem;
    color:#333;
    border-top:0.01rem solid #e3e3e3;
    border-bottom:0.01rem solid #e3e3e3;
    padding-left: 0.24rem;
    margin-top: 0.3rem;
    background:#fff;
    composes:w from '../Util/base.css';
}
.detail_product_image{
    padding-bottom: 0.98rem;
}
.detail_delivery{
    height:35px;
    line-height: 35px;
    border-bottom:1px solid #E2E2E2;
    border-top:1px solid #E2E2E2;
    background:#FFF;
    composes: f14 pl15 from '../Util/base.css';
}
.red_checked{
    padding-left:20px;
    background:url('../../src/images/iconfont-duihao@2x.png') no-repeat left center;
    -webkit-background-size: 0.25rem;
    background-size: 0.25rem;
    composes:mr50 from '../Util/base.css';
}
.shop_choose{
    position: fixed;
    bottom:0;
    z-index: 11;
    background-color: #f5f5f5;
    composes: w from '../Util/base.css';
}
.shop_choose_sure{
    height:0.98rem;
    line-height: 0.98rem;
    background-color: #FFBA26;
    color: #ffffff;
    font-size: 0.34rem;
    composes:tc from '../Util/base.css';
}
.shop_specifies_num{
    display:flex;
    justify-content: space-between;
    height:1.7rem;
    align-items: center;
}
.shop_choose_num_ctrl{
    display:flex;
    justify-content: space-between;
    margin-right: 0.4rem;
    width:2.7rem;
    height:0.7rem;
    border:0.01rem solid #333;
    -webkit-border-radius:0.02rem;
    -moz-border-radius:0.02rem;
    border-radius:0.02rem;
}
.shop_specifies_close_box{
    position: relative;
    height:0.8rem;
}
.shop_specifies_close{
    position: absolute;
    padding: 0.2rem 0.3rem;
    right: 0;
    font-size: 0.36rem;
}
.shop_choose_num_ctrl_item{
    flex:1;
    line-height: 0.7rem;
    composes: tc from '../Util/base.css'
}

.shop_choose_num_ctrl_item_num{
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    composes: shop_choose_num_ctrl_item;
}
.shop_choose_num{
    font-size: 0.32rem;
    color:#333333;
    margin-left:0.3rem;
}
.shop_footer{
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    bottom:0;
    z-index: 9;
    height: 0.98rem;
    border-top:1px solid #E2E2E2;
    composes: w from '../Util/base.css';
}
.shop_service_phone,
.shop_product_cart{
    display: flex;
    flex: 1;
    border-right:1px solid #E2E2E2;
}
.shop_service_phone_icon{
    background:#FFF url('../../src/images/iconfont-dianhua@2x.png') no-repeat center 5px;
    -webkit-background-size:0.39rem 0.38rem;
    background-size:0.39rem 0.38rem;
    padding-top:25px;
    composes: w tc from '../Util/base.css';
}
.shop_link_cart{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ffffff;
    composes: w from '../Util/base.css';
}
.shop_cart_icon{
    background:#FFF url("../../src/images/iconfont-gouwuche@2x.png") no-repeat center 5px;
    -webkit-background-size:0.41rem;
    background-size: 0.41rem;
    padding-top:25px;
}
.shop_put_cart,
.shop_buy{
    display: flex;
    flex:2;
    flex-direction: row;
    justify-content: center;
    line-height:44px;
}
.shop_put_cart{
    background:#FFBA26;
    composes: tc f16 from '../Util/base.css';
    composes:cfff;
}
.shop_buy{
    background:#FF4242;
    composes: tc f16 from '../Util/base.css';
    composes:cfff;
}
.shop_cart_total{
    position: absolute;
    top:3px;
    right:15%;
    background:#FF4242;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    width:15px;
    height:15px;
    line-height:15px;
    overflow: hidden;
    composes: cfff;
    composes: tc from '../Util/base.css';
}