/**
 * Created by LDQ on 2016/10/17.
 */
.f5f5f5{
    background:#F5F5F5;
}
.fff{
    background:#FFF;
}
.cred{
    color:#FF4242;
}
.cart_shop_name{
    position:fixed;
    top:0;
    height:44px;
    line-height: 44px;
    background:#FFF;
    composes:pl24 w from '../css/base_mobile.css';
}
.cart_shop_name_icon{
    background:url("../../src/images/icon_mall@2x.png") no-repeat 0.2rem center;
    -webkit-background-size:0.33rem 0.29rem;
    background-size:0.33rem 0.29rem;
    padding: 0.06rem 0 0.06rem 0.7rem;
    composes: pl24 f26 from '../css/base_mobile.css';
}
.cart_shop_edit{
    width: 1.2rem;
    composes:fr pr24 tc from '../css/base_mobile.css';
}
.cart_product_list{
    composes:fff;
    composes: mt24 from '../css/base_mobile.css';
}
.cart_product{
    height: 1.9rem;
    display:flex;
    flex-direction: row;
    border-top:1px solid #E2E2E2;
    composes: pl24 pr from '../css/base_mobile.css';
}
.cart_product_pic{
    width: 1.4rem;
    height: 1.4rem;
    border: 0.01rem solid #E2E2E2;
    overflow: hidden;
    composes:m20 tc from '../css/base_mobile.css';
}
.cart_product_check{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart_product_info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    composes:f32 from '../css/base_mobile.css';
}
.red_XT_icon{
    background:url("../../src/images/icon_maddle_red@2x.png") no-repeat left center;
    -webkit-background-size:0.16rem 0.18rem;
    background-size:0.16rem 0.18rem;
    composes:cred;
    composes:pl24 from '../css/base_mobile.css';
}
.cart_product_info_price{
    composes:mt24 from '../css/base_mobile.css';
}
.cart_ctrl{
    width: 1.7rem;
    height:0.4rem;
    right:0.3rem;
    bottom:0.3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 0.01rem solid #E2E2E2;
    composes:po from '../Util/base.css';
}
.cart_ctrl_reduce,
.cart_ctrl_increase{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
}
.cart_ctrl_num{
    display:flex;
    flex:2;
    flex-direction: row;
    justify-content: center;
    border-left:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
}
.cart_footer{
    position:fixed;
    bottom:0;
    height:0.88rem;
    line-height:0.88rem;
    background:#FFF;
    composes:f26 w from '../css/base_mobile.css';
}
.cart_allCheck{
    composes:f26 w ml15 from '../css/base_mobile.css';
}
.cart_total{
    composes:f26 w ml40 from '../css/base_mobile.css';
}
.cart_delete_all{
    width: 3rem;
    color: #ffffff;
    background:#FF4242;
    composes:fr f32 tc from '../css/base_mobile.css';
}
.cart_payment_btn{
    width: 3rem;
    color: #ffffff;
    background:#FFBA26;
    composes:fr f32 tc from '../css/base_mobile.css';
}
.cart_body{
    padding-bottom:47px;
    min-height:calc(100% - 47px);
    composes:f5f5f5;
    composes:po w from '../Util/base.css';
}
.cart_edit{
    height:0.88rem;
    margin:0.8rem 0.3rem;
    border-radius: 0.03rem;
    background:#0A89FE;
    line-height:0.88rem;
}