.footer-guess{
    display: flex;
    position: fixed;
    height:65px;
    bottom:0;
    flex-direction:row;/* 默认 row 横向排列 */
    background:url('/xitenggame/xitengWapApp/src/images/home_lg@2x.png') no-repeat center;
    -webkit-background-size:cover;
    background-size:cover;
}
.guessBtn{
    flex-grow:1;
    line-height:100px;
}
.red{
    background:#DE3031;
}
.green{
    background:#03C56C;
}
.cfff{
    color:#FFF;
}
.guessUp{
    padding-top:40px;
    background:url('/xitenggame/xitengWapApp/src/images/bet_up.png') no-repeat center 10px;
    -webkit-background-size:30px;
    background-size:30px;
}
.guessDown{
    padding-top:40px;
    background:url('/xitenggame/xitengWapApp/src/images/bet_down.png') no-repeat center 10px;
    -webkit-background-size:30px;
    background-size:30px;
}
.margin_footer{
    margin-bottom:65px;
}